<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
</head>
<body>
    <header>
        <h1>MANO</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/docs">Docs</a>
            <a href="/paypal">Donate</a>
            <a href="https://github.com/arkeasz/meta">Github</a>
        </nav>
    </header>
    {{ contents }}
</body>
</html>